input,
select {
  border: none;
  appearance: none;
  outline: none;
}

input {
  padding: 10px;
  width: 180px;
  border: 1px solid #f1f1f1;
}

select {
  display: inline-flex;
  padding: 10px;
  width: 100px;
  border: 1px solid #f1f1f1;
}

.Inputs {
  width: 200px;
  margin: 0 auto;
}

.Input-Group {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  flex-direction: column;
  margin: 10px 0;
}

.Image {
  margin-top: 2rem;
}
