@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Share Tech Mono', monospace;
  font-size: 2rem;
}

body {
  min-height: 100vh;
  background-color: black;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 1rem;
}
