*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #9a4df9;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #f4f4f4;
}

.navbar {
  background: #333;
  color: #fff;
  padding: 0.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar ul {
  list-style: none;
  display: flex;
}

.navbar ul li {
  margin-left: 2rem;
}

.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.showcase {
  padding-bottom: 30px;
  width: 100%;
  background: var(--primary-color);
}

.showcase h3 {
  font-size: 1.75rem;
  color: #333;
  text-align: center;
  padding: 1rem 0;
}

.showcase form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.showcase form input {
  outline: none;
  appearance: none;
}

.showcase form input,
form select {
  font-size: 20px;
  width: 400px;
  max-width: 500px;
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 1rem;
  outline: none;
  appearance: none;
}

form button {
  font-size: 20px;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
  letter-spacing: 0.3px;
}

form button:hover {
  transform: scale(1.05);
}

.form-control {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.form-control label {
  font-size: 1.25rem;
}

.image {
  width: 100%;
  margin-top: 2rem;
}

img {
  display: block;
  margin: auto;
}

.msg {
  font-size: 1.6rem;
  text-align: center;
  margin-top: 1rem;
}
